#monkey {
    width: 200px;
    height: 200px;
    background-size: contain;
    display: inline-block;
}

#banana {
    width: 200px;
    height: 200px;
    background-size: contain;
    display: inline-block;
}

.torskblock {
    background-image: url("torskblock.png");
}

.yellow {
    background-image: url("yellow.jpg");
}

.brown {
    background-image: url("brown.jpg");
}

.happy {
    background-image: url("happy.png");
}

.disappointed {
    background-image: url("disappointed.jpeg");
}

.angry {
    background-image: url("chaos_monkey.png");
}


/* Preloading images */
body:after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content: url("torskblock.png") url("yellow.jpg") url("brown.jpg") url("happy.png") url("disappointed.jpeg") url("chaos_monkey.png");
}