#monkey {
    width: 200px;
    height: 200px;
    background-size: cover;
    display: inline-block;
}

#banana {
    width: 200px;
    height: 200px;
    display: inline-block;
}

.torskblock {
    background-image: url("torskblock.png");
}

.yellow {
    background-color: yellow;
}

.brown {
    background-color: brown;
}

.happy {
    background-image: url("Curious_George.png");
}

.disappointed {
    background-image: url("disappointed.jpeg");
}

.angry {
    background-image: url("chaos_monkey.png");
}