#monkey {
    width: 200px;
    height: 200px;
    background-size: contain;
    display: inline-block;
}

#banana {
    width: 200px;
    height: 200px;
    background-size: contain;
    display: inline-block;
}

.torskblock {
    background-image: url("torskblock.png");
}

.yellow {
    background-image: url("yellow.jpg");
}

.brown {
    background-image: url("brown.jpg");
}

.happy {
    background-image: url("happy.png");
}

.disappointed {
    background-image: url("disappointed.jpeg");
}

.angry {
    background-image: url("chaos_monkey.png");
}